@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

article {
    width: 500px;
    padding: 15px;
    border: 1px solid darkblue;
    border-radius: 15px;
    margin-top: 15px;
    font-weight: 100;
}

h3 {
    font-weight: 500;
    padding: 10px 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}